<%= form_for(@trainee) do |f| %>
  <% if @trainee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trainee.errors.count, "error") %> prohibited this trainee from being saved:</h2>

      <ul>
      <% @trainee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :umid, "UMID "%><br>
    <%= f.number_field :umid %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(%w(student faculty alumnus community).map{|a| [a.capitalize, a]}) %>
  </div>
  <div class="field">
    <%= f.label :dept, "What school/department, if applicable?" %><br>
    <%= f.text_field :dept %>
  </div>
  <div class="field">
    <%= f.label :experience, "Any previous radio experience? Where and how long?" %><br>
    <%= f.text_area :experience %>
  </div>
  <div class="field">
    <%= f.label :referral, "How did you find out about WCBN?" %><br>
    <%= f.text_area :referral %>
  </div>
  <div class="field">
    <%= f.label :interests %><br>
    What aspect of radio are you most interested in doing? Choose as many as apply.</br>
    <div class="interest_links">
      Broadcasting: 
      <%= (%w(freeform/music talkshow sports).map{|i| interest_link(i) }*"").html_safe %>
      <br />
      Off-Air Work:
      <%= (%w(development engineering events social-media 
           website carts publicity music-review library)
        .map{|i| interest_link(i) }*"").html_safe %>
    </div>
    <%= f.text_area :interests %>
  </div>
  <div class="field hidden">
    <%= f.label :statement %><br>
    <%= f.text_area :statement %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
