= form_for(@trainee) do |f|
  -if @trainee.errors.any? 
    .error_explanation
      %h2= pluralize(@trainee.errors.count, "error")+"  prohibited this trainee from being saved:"
      %ul
        -@trainee.errors.full_messages.each do |msg|
          %li=msg

  .field
    =f.label :name 
    %br
    =f.text_field :name 
  .field
    =f.label :umid, "UMID "
    %br
    =f.number_field :umid 
  .field
    = f.label :phone 
    %br
    = f.phone_field :phone 
  .field
    = f.label :email 
    %br
    = f.email_field :email 
  .field
    = f.label :status 
    %br
    = f.select :status, options_for_select(%w(student faculty alumnus community).map{|a| [a.capitalize, a]}) 
  .field
    = f.label :dept, "What school/department, if applicable?" 
    %br
    = f.text_field :dept 
  .field
    = f.label :experience, "Any previous radio experience? Where and how long?" 
    %br
    = f.text_area :experience 
  .field
    = f.label :referral, "How did you find out about WCBN?" 
    %br
    = f.text_area :referral 
  .field
    = f.label :interests 
    %br
    %p.instructions
      What aspect of radio are you most interested in doing? Choose as many as apply.
    .instructions
      = interest_links ["Freeform Music Show", "Talkshow", "Sports Radio"]
      %br
      = interest_links ["Development", "Engineering", "Events", "Publicity", "Music Review"]
      %br
      = interest_links ["Social Media", "Website", "Carts", "Archiving/Library Management"]
    = f.text_area :interests 
  .field.hidden
    = f.label :statement, "Community Volunteers' Personal Statement"
    %br
    %p.instructions
      WCBN is a student-run, and primarily student-staffed station.  The role of
      community voluteers on the air is limited to an educational and/or
      advisory role, meaning that community volunteers must have something
      concrete to give the station, such as exceptional music knowledge,
      technical expertise, or previous radio experience.  Please explain why
      you'd like to join WCBN, what you propose to do here, and in what ways you
      would like to become involved.  What do you have to offer WCBN on-air and
      off?  Please know that DJs are required to match their on-air hours with
      off-air work at the station.  Do you have the time for this kind of
      commitment?  What would your contribution be?
    %br
    = f.text_area :statement, class: "tall"

  - if @trainers_view 
    .field
      = f.label :stage1 
      %br
      = f.text_area :stage1 
    .field
      = f.label :demotape 
      %br
      = f.text_area :demotape 
    .field
      = f.label :stage2 
      %br
      = f.text_area :stage2 
    .field
      = f.label :apprenticeship_freeform1 
      %br
      = f.text_area :apprenticeship_freeform1 
    .field
      = f.label :apprenticeship_freeform2 
      %br
      = f.text_area :apprenticeship_freeform2 
    .field
      = f.label :apprenticeship_specialty1 
      %br
      = f.text_area :apprenticeship_specialty1 
    .field
      = f.label :apprenticeship_specialty2 
      %br
      = f.text_area :apprenticeship_specialty2 
    .field
      = f.label :broadcasters_exam 
      %br
      = f.text_area :broadcasters_exam 
  .actions
    = f.submit "Submit"
