%h1 WCBN Training Database
%h3 Trainee Details

#notice=notice
.trainee
  .small.grey="#{@trainee.created_at.to_date} — #{@trainee.sent_email}"
  .big.name.inline=@trainee.name
  .inline=@trainee.dept
  .inline=@trainee.status_capitalize
  .grey.inline=' — '+@trainee.um_id
  %br
  .inline=@trainee.phone
  .inline=' — '+@trainee.email
  .small='Interests: '+@trainee.interests
  .small.grey='Found out about WCBN through '+@trainee.referral
  .small="Radio Experience: #{@trainee.experience}"
  .small.grey=('Personal Statement: '+@trainee.statement) unless @trainee.statement.blank?
  .small.padtop=(grey('Shadow: ') + link_to(@trainee.mentor.name, @trainee.mentor)) unless @trainee.mentor.nil?
  .small=(grey('Demo Tape Approval: ')+@trainee.demotape) unless @trainee.demotape.blank?
  .small=(grey('Stage Two Training: ')+@trainee.stage2) unless @trainee.stage2.blank?
  .small=(grey('Freeform Apprenticeship No. 1: ')+@trainee.apprenticeship_freeform1) unless @trainee.apprenticeship_freeform1.blank?
  .small=(grey('Freeform Apprenticeship No. 2: ')+@trainee.apprenticeship_freeform2) unless @trainee.apprenticeship_freeform2.blank?
  .small=(grey('Specialty Apprenticeship No. 1: ')+@trainee.apprenticeship_specialty1) unless @trainee.apprenticeship_specialty1.blank?
  .small=(grey('Specialty Apprenticeship No. 2: ')+@trainee.apprenticeship_specialty2) unless @trainee.apprenticeship_specialty2.blank?
  .small=(grey('Broadcasters Exam Passed: ')+@trainee.broadcasters_exam) unless @trainee.broadcasters_exam.blank?

= link_to 'Edit', edit_trainee_path(@trainee)
|
= link_to 'Delete', @trainee, method: :delete, data: { confirm: 'Are you sure you wish to delete this record?' }
|
= link_to 'Back', trainees_path
