<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainee.name %>
</p>

<p>
  <strong>Umid:</strong>
  <%= @trainee.umid %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @trainee.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @trainee.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @trainee.status %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @trainee.dept %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @trainee.experience %>
</p>

<p>
  <strong>Referral:</strong>
  <%= @trainee.referral %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @trainee.interests %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @trainee.statement %>
</p>

<p>
  <strong>Stage1:</strong>
  <%= @trainee.stage1 %>
</p>

<p>
  <strong>Demotape:</strong>
  <%= @trainee.demotape %>
</p>

<p>
  <strong>Stage2:</strong>
  <%= @trainee.stage2 %>
</p>

<p>
  <strong>Apprenticeship freeform1:</strong>
  <%= @trainee.apprenticeship_freeform1 %>
</p>

<p>
  <strong>Apprenticeship freeform2:</strong>
  <%= @trainee.apprenticeship_freeform2 %>
</p>

<p>
  <strong>Apprenticeship specialty1:</strong>
  <%= @trainee.apprenticeship_specialty1 %>
</p>

<p>
  <strong>Apprenticeship specialty2:</strong>
  <%= @trainee.apprenticeship_specialty2 %>
</p>

<p>
  <strong>Broadcasters exam:</strong>
  <%= @trainee.broadcasters_exam %>
</p>

<%= link_to 'Edit', edit_trainee_path(@trainee) %> |
<%= link_to 'Back', trainees_path %>
